.coin-list{
    font-family: 'Roboto';
    margin-top: 8vh;
    color: white;
    .single-coin{
        background: #2980b9;
        width: 90vw;
        margin: 0 auto;
        margin-bottom: 1.3vh;
        border-radius: 10px;
        padding: 8px 15px;
        font-size: 0.775rem;
        padding-bottom: 1em;
        line-height: 1.5;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
        .top-text, .bottom-text{
            display: flex;
            justify-content: space-between;
        }
    }
}