.coin-list{
    font-family: 'Roboto';
    .single-coin{
        background: #34495e;
        width: 90vw;
        margin: 0 auto;
        margin-bottom: 1.3vh;
        border-radius: 5px;
        padding: 1em 1.5em;
        font-size: 0.775rem;
        padding-bottom: 1.7em;
        line-height: 1.5;
        box-shadow: 4px 4px 15px #000;
        .top-text, .bottom-text{
            display: flex;
            justify-content: space-between;
        }
    }
}